language: php

sudo: required

php:
- 5.6
- 5.5

compiler:
- gcc

install:
- sudo apt-get update -qq
- sudo apt-get install -qq automake pkg-config build-essential libtool automake autoconf m4 gnulib php5-dev

script:
- phpize
- ./configure
- make
- make test
